<div class="text-center">

     <h1 class="display-4">Cadastro do Paciente</h1>

    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Nome Completo" aria-label="Nome Completo">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Diagnostico" aria-label="Diagnostico">
        </div>
    </div>
</div>